h1 {
    font-size: 32px;
    font-weight: 5;
    color:red;
  text-align:center;
  background-color:yellow;
  padding:20px;
  background-image:url(http://www.w3school.com.cn/i/eg_bg_04.gif);
  background-repeat:repeat-all;
  background-position:center;
}
p {
    color: pink;
  font-size:32px;
  text-align:center;
}
table{
  border:1px solid red;
  text-align:center;
}